@model IEnumerable<BEUEjercicio.Alumno>

@{
    //El código de servidor que se ejecuta en las Vistas en ASP.NET se denomina Razor    
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <thead class="bg-info">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_nacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lugar_nacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sexo)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_nacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lugar_nacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sexo)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.idalumno }) |
                    @Html.ActionLink("Details", "Details", new { id = item.idalumno }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.idalumno })
                </td>
            </tr>
        }
    </tbody>
</table>
