@model IEnumerable<BEUEjercicio.Materia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nrc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creditos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area.coordinador)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.nrc)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.creditos)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Area.nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Area.coordinador)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.idmateria }) |
        @Html.ActionLink("Details", "Details", new { id = item.idmateria }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.idmateria })
    </td>
</tr>
}

</table>
